In [1]:

import numpy as np
import pandas as pd
df=pd.read_csv("iris.csv")
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [2]:
df.variety.unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [3]:
df["variety"]=df["variety"].map({"Setosa": 0,"Versicolor": 1,"Virginica": 2})

df

     sepal.length  sepal.width  petal.length  petal.width  variety
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [4]:
from keras.models import Sequential 
from keras.layers.core import Dense

x=df[["sepal.length","sepal.width","grade","petal.length"]]
y=df["variety"]

model = Sequential() 
model.add(Dense(4,input_dim=4,activation='sigmoid')) 
model.add(Dense(1,input_dim=4,activation='relu'))  
model.compile(loss="mean_squared_error",optimizer="adam",metrics=["binary_accuracy"]) 
model.fit(x,y,epochs=4500,verbose=2) 
print(model.predict(x))

ModuleNotFoundError: No module named 'tensorflow'